<!doctype html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="utf-8">
		<title>{% block title %}Recuiter Review | Tell us about your recruiter{% block endtitle %}</title>
		<meta name="description" content="">
		<meta name="author" content="composer.json">
		<link href="/bower_components/semantic/dist/semantic.css" rel="stylesheet">
		<link href="/assets/css/main.css">
		<script src="/bower_components/jquery/dist/jquery.js"></script>
		<script src="/assets/js/main.js"></script>
		{% endblock head %}
	</head>
	<body>

		{% block content %}
		{% endblock content %}


	</body>
</html>